@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import 'partials/game.scss';
@import 'partials/shop.scss';
@import 'partials/stats.scss';
@import 'partials/tasks.scss';
@import 'partials/utils.scss';

body {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Noto Sans JP', sans-serif;
}
p {
  font-size: 12px;
}