#game-wrapper {

    height: 100vh;

  }
  
  .game {
    width: 100%;
    height: 100%;
  
    &--New {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    &--body {
      display: flex;
      justify-content: space-between;
    }
  }