.button {
  padding: 16px 42px;
  line-height: 1.25;
  cursor: pointer;
  background: #81d4fa;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  &:focus,
  &:hover {
    background: darken(#81d4fa, 5%);
  }
  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--green {
    color: #aed581;
  }

  &--red {
    color: #ef9a9a;
  }
}
